# ignore hidden, temporary, built, and project files
.*
*~
*.pyc
*.csv

# ignore generated directories
build*
bin/*
lib64/*

# ignore ESPRESO results (default location)
**/results/

# ignore *.ecf files in root directory
/*.ecf

# ignore the locally-installed dependencies
/dependencies*
