.*
*~
*.o
*.so
*.vtk
*.pvd
*.vtu
*.vtm
*.pyc
*.png
*.a
*.lic
*.vim
/*.dat
*.out
build*
*log*
*.config
doc/html/*
doc/xml/*
espreso
decomposer
generatordecomposer
libespreso/apitest
libs*/*
tools/*
results/*
