
EPSILON = 1e-03
ITERATIONS = 2

FETI_METHOD = 0     # set by example
PRECONDITIONER = 2  # set by example
REGULARIZATION = 1  # set by example

REDUNDANT_LAGRANGE = 1
B0_TYPE = 1
KEEP_FACTORS = 1
USE_SCHUR_COMPLEMENT = 0
KSOLVER_SP_iter_steps = 0
KSOLVER_SP_iter_norm = 0
CGSOLVER = 0
N_MICS = 0
KSOLVER = 0
F0SOLVER = 0


SUBDOMAINS = 8
FIX_POINTS = 8
CORNERS = 1
VERTEX_CORNERS = 1
EDGE_CORNERS = 1
FACE_CORNERS = 0
AVERAGE_EDGES = 0
AVERAGE_FACES = 0


SAVE_CORNERS = 0
SAVE_EDGES = 0
SAVE_FACES = 0
SAVE_RESULTS = 0


PRINT_MATRICES = 0
VERBOSE_LEVEL = 0
TESTING_LEVEL = 0
MEASURE_LEVEL = 0
